{% extends "layout.html" %}
{% block title %}Product Description{% endblock %}

{% block content %}
    <style>
        .description-container {
            max-width: 800px;
            margin: 2rem auto;
            padding: 2rem;
            background: white;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            position: relative;
        }
        
        .description-container img {
            max-width: 100%;
            border-radius: 8px;
        }
        
        .description-container h1 {
            margin-bottom: 1rem;
        }
        
        .description-container p {
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
        
        .back-link, .btn-primary {
            display: inline-block;
            margin-top: 1rem;
            color: white;
            background-color: #007bff;
            padding: 0.5rem 1rem;
            text-decoration: none;
            border-radius: 4px;
            border: none;
            text-align: center;
        }
        
        .back-link:hover {
            background-color: #0056b3;
        }
        
        .btn-primary:hover {
            background-color: #0056b3;
        }
        
        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
        }
        
        .add-to-cart-form {
            margin: 0;
        }
        
    </style>

    <div class="description-container">
        <img src="{{ chai.image.url }}" alt="{{ chai.name }}">
        <h1>{{ chai.name }}</h1>
        <p><strong>Type:</strong> {{ chai.get_ttype_display }}</p>
        <p><strong>Size:</strong> {{ chai.get_size_display }}</p>
        <p><strong>Description:</strong> {{ chai.description }}</p>
        <p><strong>Available Stock:</strong> {{ chai.amount }}</p>
        
        <div class="button-container">
            <a href="{% url 'menu' %}" class="back-link">Back to Menu</a>
            <form action="{% url 'add_cart' chai.id %}" method="post" >
                {% csrf_token %}
                <button type="submit" class="btn-primary">Add to cart</button>
            </form>
        </div>
    </div>
    
{% endblock %}
